@model Internet_Tehnologii_Lab3_222015.Models.Doctor

@{
    ViewBag.Title = "AddPatient";
}

<h2>Додади пациент кај @ViewBag.DoctorName</h2>

@using (Html.BeginForm("InsertNewPatient", "Doctors", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.DoctorId" />
        <label asp-for="PatientId">Пациент</label>
        @Html.DropDownList("patientId", ViewBag.PatientId as SelectList, "-- Избери пациент --", new { @class = "form-control" })
    </div>
    <input type="submit" value="Додади пациент" class="btn btn-primary" />
}
